h1 {
    font-size: 80px;
    font-family: 'Amatic SC', cursive;
}

.specialfont {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

.homepage_button {
    display: inline-block
}

.invalid {
    color: red;
}

a {
    text-decoration: none;
}
