nav {
    display: grid;
    grid-template-columns: 60% 20%;
}

h1 {
    font-size: 80px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    margin-left: 300px;
}

h2 {
    text-align: center;
}

.specialfont {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

.homepage_button {
    display: flex;
    margin-top: 95px;
}

#possum {
    max-width: 35em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    margin-right: 10px;
}

.invalid {
    color: red;
}

a {
    text-decoration: none;
}

