{% extends "base.html" %}
{% block content %}

{% if invalid_email %}
    <p class="invalid">We couldn't find that friend. Please try again.</p>
{% endif %}
{% if user_id %}
<div class="form">
    <form action="/add_friend_action" method = 'POST' id="add-friend-form">
        <span class="label">Enter friend's email:</span><input type="text" name="new_friend" id="new-friend" required> <br>
        <input type="submit" class="specialfont">
    </form>
</div>
{% else %}
<p class="specialfont, invalid">Please log in or sign up to add a friend.</p>

{% endif %}

{% endblock content %}