<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You Can Do It</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
    </style>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <main>
        <nav>
            <h1>You Can Do It!</h1>
            
            {% if user_id %}
            <div class = "homepage-button-div">
                <form action="/add_friends" class="homepage-button">
                    <input type="submit" value = "Add Friends" class = 'specialfont'>
                </form>

                <form action="/log_out" class="homepage-button">
                    <input type="submit" value = "Log Out" class = 'specialfont'>
                </form>
            </div>
            {% else %}
            <div class = "homepage-button-div">
                <form action="/log_in" class="homepage-button">
                    <input type="submit" value = "Log In" class = 'specialfont'>
                </form>
            
                <form action="/signup" class="homepage-button">
                    <input type="submit" value = "Sign Up" class = 'specialfont'>
                </form>
                </div>
            {% endif %}
        </nav>    

        {% block content %}

        {% if no_user_id %}
        <div class = "homepage_body">
            <h2 class = 'invalid'>Please log in or sign up.</h2>
            <img src="/static/possum.jpg" alt="Positive possum believes you can do the thing!" id = "possum">
        </div>
        {% endif %}
            

        {% if user_id %}
        <div class = "homepage_body">
            <section id="check-up">
                <form action="/your_friends">
                    <input type="submit" value = "Check Up On Your Friends!" class = 'specialfont'>
                </form>
            </section>

            <section>
                {% for goal in goals %}
                <p class="goal"><a href="/edit/{{goal.id}}">{{goal.goal_content}}</a>
                    {% if goal.who_nudged %}
                    <span class="yellow">{{goal.who_nudged}} nudged you!</span>
                    {% else %}
                    <span> </span>
                    {% endif %}
                </p>
                {% endfor %}
            </section>
        </div>

        <div class="footer" >
            <form action="/add_goal_action" method = 'POST' id="add-goal-form">
                Add a new goal:<input type="text" name = "newgoal" id = "newgoal" required>
                <input type="submit" class = 'specialfont'>
            </form>
        </div>
        
        {% endif %}

        {% endblock %}
    </main> 
</body>
</html>