<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You Can Do It</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
    </style>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>You Can Do It!</h1>
    {% block content %}
    
    {% if user_id %}
    <div class = "homepage_button">
        <form action="/set-goals">
        <input type="submit" value = "Set Your Goals" class = 'specialfont'>
        </form>
    </div>

    <div class = "homepage_button">
        <form action="/add_friends">
        <input type="submit" value = "Add Friends" class = 'specialfont'>
        </form>
    </div>

    <div class = "homepage_button">
        <form action="/log_out">
        <input type="submit" value = "Log Out" class = 'specialfont'>
         </form>
    </div>
    
    {% else %}
    <div class = "homepage_button">
    <form action="/log_in">
        <input type="submit" value = "Log In" class = 'specialfont'>
    </form>
    </div>
    <div class = "homepage_button">
      <form action="/signup">
        <input type="submit" value = "Sign Up" class = 'specialfont'>
    </form>
    </div>
    
    {% endif %}
    {% endblock  %}
</body>
</html>