{% extends "base.html" %}
{% block content %}

<form action="/save_goal_edits" method="POST">
    Goal: <input type="text" name="goal_content" value = "{{goal_content}}"> <br>
    <input type="hidden" name = "goal_id" value = {{goal_id}}>
    <input type="submit" value = "Update">
</form>

{% if nudged_by %}
<form action="/delete_nudge/{{goal_id}}" method="POST">
    <input type="text" name="who_nudged" value = "{{nudged_by}}">
    <input type="submit" value = "Delete Nudge" class = 'specialfont'>
</form>
{% endif %}

<form action="/delete_goal/{{goal_id}}" method="POST">
    <input type="submit" value = "Delete Goal" class = 'specialfont'>
</form>

{% endblock content %}