{% extends "base.html" %}

{% block content %}
    <h3 class='specialfont' id="subheader">Log In</h3>
    {% if invalid_user %}
    <div>
        <p class = "invalid">Email address or password is incorrect.</p>
    </div>
    {% endif %}
    <div class="form">
        <form action="/log_in_action" method = 'POST' id="login-form">
                <div><span class="label"> Email: </span> <input type="text" name = "email" id = "email" required></div>
                <div><span class="label"> Password: </span> <input type="password" name = "password" required></div>
                <input type="submit" class="specialfont" value="Log In">
        </form>
    </div>
{% endblock content %}