{% extends "base.html" %}
{% block content %}
<section class = goals>
    <p>Goal goes here</p>
    <button class = 'specialfont'><a href="/edit_goal">Edit</a></button>

    <form action="/delete_goal" method="POST">
        <input type="submit" value = "Delete" class = 'specialfont'>
    </form>
</section>

<form action="/add_goal_action" method = 'POST'>
    Add a new goal: <input type="text" name = "newgoal" id = "newgoal" required> <br>
    <input type="submit" class = 'specialfont'>
</form>

{% endblock content %}